{% extends "NERHomeBundle::layout.html.twig" %}

{% block title %}Europeana - BabelNet{% endblock %}

{% block h1 %}Europeana - BabelNet{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="well">
                {% include 'NERAdministrationBundle:Home:uploadFile_content.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_sub %}
    {{ parent() }}
{% endblock %}