{% extends "DSGHomeBundle::layout.html.twig" %}

{% block title %}Europeana - Dataset Generator{% endblock %}

{% block h1 %}Europeana - Dataset Generator{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="well text-center">
                <h2>Ok, now it could be long ...</h2>
                <strong>Your result id number : <span id="europeanaItemsSession-id">{{ europeanaItemsSession.id }}</span>. <br />
                    You'll receive an email when your dataset will be ready.</strong>
                <div style="padding: 20px;"><i class="fa fa-spin fa-circle-o-notch fa-3x" aria-hidden="true"></i><br />Computing ...</div>
                <small>It could be (very) long if you've selected a large dataset size.</small>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_sub %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $.ajax({
                async: false,
                dataType: "json",
                url: Routing.generate('dsg_home_home_compute', {europeanaItemsSession_id: $('#europeanaItemsSession-id').text()}),
                success: function(data){
                    console.log(data);
                },
                error: function(error){
                    console.log(dump(error));
                }
            });
        });
    </script>
{% endblock %}