{% extends "DSGAdministrationBundle::layout.html.twig" %}

{% block title %}Europeana - DataSet Generator{% endblock %}

{% block h1 %}Europeana - DataSet Generator{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <a href="{{ path('dsg_administration_home_test') }}">Test mail</a> -
            <a href="{{ path('dsg_administration_babelnetdataset_statisticsLang') }}">BabelNet DataSet generator</a>
        </div>
    </div>
{% endblock %}

{% block javascript_sub %}
    {{ parent() }}
{% endblock %}